*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Cooper Black;
    background-color: rgb(90, 184, 247);
}
section{
    /* margin-top: 200px; */
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100vh;
    /* background-image: url('https://wallpapercave.com/wp/wp7981951.gif'); */
    background-repeat: no-repeat;
    background-size: 100%;
    visibility: hidden;
    opacity: 0;
    animation: show-content 2.5s linear forwards;
    animation-delay: 1.2s;
}
.about {
    display: grid;
    gap: 200px;
    grid-template-columns: auto auto auto;
    margin-top: 2rem;
    text-align: left;
    padding-bottom: 5rem;
    padding-top: 5rem;
    padding-left: 20rem;
    padding-right: 20rem;
    background-image: url('https://i.makeagif.com/media/11-05-2021/Z5Luzw.gif');
    background-repeat: no-repeat;
    background-size: 138rem 38rem;
    background-position: center;
    height: 50vh;
    font-size: 2rem;
    border: 1px solid transparent;
    /* border-radius: 45px; */
    color: white;
  svg {
    width: 1.3em;
  }

  h2 {
    display: inline;
  }
}


.contacts {
  display: flex;
  flex-direction: column;
  text-align: left;

  svg {
    width: 2em;
  }
}
.main2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    border: 3px solid rgb(24, 24, 168);
    box-shadow: 0 0 20px 15px rgb(51, 51, 180);
    margin: 150px;
    border-radius: 17px;
    background-color: black;
    
}
.icon2 {
    background-image: url('https://i.pinimg.com/originals/10/bb/66/10bb6612a48fedd121c8de06199d81a1.gif');
    padding: 10px;
    background-size: 120%;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 50%;
    background-repeat: no-repeat;
}
.nav {
    display: flex;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
    position: fixed;
    margin-left: 315px;
    margin-right: 700px;
    margin-top: 6rem;
    z-index: 1;
}
@keyframes show-content{
    100% {
        visibility: visible;
        opacity: 1;
    }
}
.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -230px;
    margin-top: -100px;
    gap: 200px;
}
.nav li {
    list-style: none;
    margin-left: 25px;
    font-size: 4rem 4rem;
    border-radius: 20px;
    padding: 10px;
    /* background-color: black;
    box-shadow: 0 0 20px 10px rgb(51, 51, 180); */
}   
.nav ul li a {
    font-size: 40px;
    font-weight: 500;
    transition: .5s;
    color: white;
}
.nav ul li:hover a, 
.nav ul li.active2 a{
    color: rgb(137, 255, 255);
    /* box-shadow: 0 0 40px 30px rgb(28, 81, 230);
    background-color: rgb(28, 81, 230); */
}
a{
    color: rgb(185, 247, 255);
    text-decoration: none;
}   
.bars-animation {
    margin-top: -0px;
    
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: -1;
}
.bars-animation .bar{
    width: 100%;
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/9f/c8/72/9fc872980278403b87c348e7f486d9f5.gif');
    background-repeat: no-repeat;
    background-size: 210vh;
    /* border: 2px solid red; */
    transform: translateY(-100%);
    animation: show-bars 1.5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
    border: transparent;
}
@keyframes show-bars {
    100%{
        transform: translateY(0%);
    }
}