*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Cooper Black;
    background-color: rgb(90, 184, 247);
}
.nav {
    display: flex;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.2s;
    position: fixed;
    margin-left: 300px;
    margin-right: 700px;
    margin-top: 6rem;
    z-index: 1;
}
@keyframes show-content{
    100% {
        visibility: visible;
        opacity: 1;
    }
}
.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -230px;
    margin-top: -100px;
    gap: 200px;
}
.nav li {
    list-style: none;
    margin-left: 25px;
    font-size: 4rem 4rem;
    border-radius: 20px;
    padding: 10px;
    /* background-color: black;
    box-shadow: 0 0 20px 10px rgb(51, 51, 180); */
}   
.nav ul li a {
    font-size: 40px;
    font-weight: 500;
    transition: .5s;
    color: white;
}
.nav ul li:hover a, 
.nav ul li.active5 a{
    color: rgb(137, 255, 255);
}
a{
    color: rgb(185, 247, 255);
    text-decoration: none;
}   
.bars-animation {
    margin-right: -10rem;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: -1;
}
.bars-animation .bar{
    width: 100%;
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/1d/30/b5/1d30b5a0c298c02edaf2f501b22a6587.gif');
    background-repeat: no-repeat;
    background-size: 201.5vh;
    /* border: 2px solid red; */
    transform: translateX(200%);
    animation: show-bars 1.5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
    border: transparent;
}
@keyframes show-bars {
    100%{
        transform: translateY(0%);
    }
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main2{
    color: white;
    margin-bottom: 50px;
    margin-top: 150px;
    font-size: 4rem;
    padding: 2rem;
    background-color: black;
    border-radius: 30px;
    box-shadow: 0 0 30px 15px rgb(46, 143, 223);
    opacity: 0;
    animation: show-content 2.5s linear forwards;
    animation-delay: 1.2s;
}
.contact{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    color: white;
    font-size: 1.5rem;
    background-color: black;
    padding: 2rem;
    background-image: url('https://i.makeagif.com/media/11-05-2021/Z5Luzw.gif');
    background-size: 84rem 37rem;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    animation: show-content 2.5s linear forwards;
    animation-delay: 1.2s;
}
footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0;
    animation: show-content 2.5s linear forwards;
    animation-delay: 1.2s;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer nav ul {
    list-style: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}